/**************** Text ****************/
.text-red { color: #ee2d24 !important; }

.TextHeader {
    font-family: $font-regular;
    font-size: 60px;
    line-height: 1;

    @media (min-width: 567px) {
        font-size: 80px;
    }
    @media (min-width: 768px) {
        font-size: 100px;
    }
    @media (min-width: 992px) {
        font-size: 120px;
    }
    @media (min-width: 1200px) {
        font-size: 150px;
    }
    @media (max-width: 320px) {
        font-size: 48px;
    }
}
.TextContent {
    font-size: 16px;

    h1 {
        font-size: 22px;
        font-family: $font-regular;
        line-height: 1.5;
        margin: 0;
    }
    h2 {
        font-size: 20px;
        line-height: 1.4;
        margin: 0;
    }
    p {
        line-height: 1.77;
        @media (max-width: 567px) {
            br {
                display: none;
            }
        }
    }
    a {
        color: $white;
        opacity: 0.75;
        transition: all 0.3s;
        &:hover {
            opacity: 1;
        }
    }

    @media (min-width: 768px) {
        font-size: 18px;
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 22px;
        }
    }
    @media (min-width: 992px) {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 26px;
        }
    }
}
.Text-lg {
    font-size: 24px;

    @media (min-width: 567px) {
        font-size: 30px;
    }
    @media (min-width: 768px) {
        font-size: 34px;
    }
    @media (min-width: 1200px) {
        font-size: 40px;
    }

    @media (max-width: 320px) {
        font-size: 20px;
    }
}

.text-navy {
    color: $main !important;
}