img.a { max-width:100%;}
.sp-container-cac { width:70%; margin:0 auto;}

.sp-header { position:relative;}
.sp-header .box-red { width:6px; height:90px; background:#ee2d24; margin:0 auto; margin-bottom:-50px; position:relative; z-index:1;}

.sec1 { text-align:center; margin-top:40px; margin-bottom:40px;}
.sec1 h1 { font-family: 'webfont1'; font-size:46px; line-height:46px; color:#ee2d24; font-weight:normal; letter-spacing:1px;}
.sec1 h1 span { display:block;}
.sec1 h1 span img { margin-bottom:30px;}
.sec1 h2 { font-family: 'webfont1'; font-size:20px; line-height:46px; color:#666; font-weight:normal; letter-spacing:1px; margin-bottom:10px;}
.sec1 h2 span.a { font-family: 'webfont1'; font-size:46px; color:#1f1e1f;}
.sec1 h2 span.b { font-family: 'webfont1'; font-size:46px; color:#ee2d24;}
.sec1 p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666;}

.txt01 {font-family: 'webfont2'; font-size: 20px; line-height: 28px; color: #666; margin-top:40px; margin-bottom:20px;}


.sec2 { text-align:left;}
.sec2 .sp-row {display: flex;flex-wrap: wrap;}
.sec2 .sp-row .col-a { width:40%; background:#d7d7d7;}
.sec2 .sp-row .col-a .box-content { margin-left:15%; margin-right:40px; margin-top:17%;}
.sec2 .sp-row .col-a .box-content h3 { font-family: 'webfont3'; font-size:40px; line-height:50px; color:#ee2d24; font-weight:normal; letter-spacing:1px; margin-bottom:40px;}
.sec2 .sp-row .col-a .box-content p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666;}
.sec2 .sp-row .col-b { width:60%; background:#ebebeb;}
.sec2 .sp-row .col-b .inner-row { display: flex;flex-wrap: wrap; margin-left:40px; margin-right:15%; margin-top:10%; margin-bottom:10%;}
.sec2 .sp-row .col-b .inner-row .col-l { width:30%;}
.sec2 .sp-row .col-b .inner-row .col-l img { max-width:100%;}
.sec2 .sp-row .col-b .inner-row .col-r { width:70%;}
.sec2 .sp-row .col-b .inner-row .col-r .box-content-inner { padding-left:10px;}
.sec2 .sp-row .col-b .inner-row .col-r .box-content-inner h3 { font-family: 'webfont3'; font-size:40px; line-height:50px; color:#ee2d24; font-weight:normal; letter-spacing:1px; margin-bottom:40px;}
.sec2 .sp-row .col-b .inner-row .col-r .box-content-inner p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666;}



.sec3 { margin-top:-20px; position:relative; z-index:1;}
.sec3 .sp-row {display: flex;flex-wrap: wrap;}
.sec3 .sp-row .col-a { width:48%;}
.sec3 .sp-row .col-a .box-content { margin-left:15%; margin-right:40px; margin-top:18%;}
.sec3 .sp-row .col-a .box-content h3 { font-family: 'webfont3'; font-size:40px; line-height:50px; color:#ee2d24; font-weight:normal; letter-spacing:1px; margin-bottom:40px;}
.sec3 .sp-row .col-a .box-content h4 { font-family: 'webfont3'; font-size:24px; line-height:30px; color:#000; font-weight:normal; letter-spacing:1px; margin-bottom:10px;}
.sec3 .sp-row .col-a .box-content p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666;}
.sec3 .sp-row .col-b { width:52%; background:#ebebeb;}
.sec3 .sp-row .col-b img { max-width:100%;}


.sec4 { background:#fff; position:relative;}
.sec4 .logo-cac { position:absolute; width:100%; text-align:center; top:20%;}
.sec4 .logo-cac img {max-width:100%;}
.sec4 .sp-row {display: flex;flex-wrap: wrap;}
.sec4 .sp-row .col-a { width:50%;}
.sec4 .sp-row .col-a img { max-width:100%;}
.sec4 .sp-row .col-b { width:50%;}
.sec4 .sp-row .col-b .box-content { margin-left:170px; margin-right:15%; margin-top:15%;}
.sec4 .sp-row .col-b .box-content h3 { font-family: 'webfont3'; font-size:40px; line-height:50px; color:#ee2d24; font-weight:normal; letter-spacing:1px; margin-bottom:40px;}
.sec4 .sp-row .col-b .box-content h4 { font-family: 'webfont3'; font-size:24px; line-height:30px; color:#000; font-weight:normal; letter-spacing:1px; margin-bottom:10px;}
.sec4 .sp-row .col-b .box-content p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666; margin-bottom:20px;}
.sec4 .sp-row .col-b .box-content p strong.a {color:#ee2d24; font-style:italic;}



}


@media screen and (max-width:1440px) {

}

@media screen and (max-width:1366px) {

}

@media screen and (max-width:1280px) {

}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:768px) {

}

@media screen and (max-width:737px) {

}

@media screen and (max-width:560px) {

}

@media screen and (max-width:414px) {

}

@media screen and (max-width:375px) {
 
}
