html,body { background:url(../img/404/bg.jpg) center no-repeat; height:100%;width: 100%;display: flex;justify-content:center; align-items:center;}

.main404 { text-align:center;}

.main404 img { width:32px;}

.txt404-1 {font-family: 'webfont1'; font-size:46px; line-height:52px; color:#818181; font-weight:normal; letter-spacing:1px; margin-bottom:10px;}
.txt404-2 {font-family: 'webfont2'; font-size:26px; line-height:36px; color:#818181; font-weight:normal; letter-spacing:1px;}

.row404 {display: flex;justify-content:center; align-items:center; margin:20px 0;}
.row404 .col-a { width:45%;}
.row404 .col-a .line404 { width:100%; height:1px; background:#ddd;}
.row404 .col-b {width:10%;font-family: 'webfont2'; font-size:20px; line-height:20px; color:#818181; font-weight:normal;}
.row404 .col-c {width:45%;}
.row404 .col-c .line404 { width:100%; height:1px; background:#ddd;}

.bth { background:#c5c5c5; padding:15px 40px; color:#ee2d24;font-family: 'webfont1'; font-size:16px; line-height:16px; border:0;}

@media screen and (max-width:1440px) {

}

@media screen and (max-width:1366px) {

}

@media screen and (max-width:1280px) {

}

@media screen and (max-width:1024px) {
html,body { background-size:154%;}
.txt404-1 { font-size: 32px; line-height: 42px;}
.txt404-2 { font-size: 20px; line-height: 24px;}
.main404 img { width: 20px;}
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:737px) {

}

@media screen and (max-width:560px) {
html,body { background:url(../img/404/bg-mobi.png) center no-repeat; height:100%;width: 100%;}
.main404 { padding:0 20px;}
.txt404-2 { line-height: 30px;}
}

@media screen and (max-width:414px) {

}

@media screen and (max-width:375px) {

}
