.sp-header {background:url(../img/our-products-services/header-partners.jpg) no-repeat center top; padding-bottom:8%; padding-top:8%;}
.sp-header .box-header { width:40%; border:2px solid #ee2d24; padding:40px 20px; margin:0 auto;position:relative; text-align:center;}
.sp-header .box-header img.i-top { position:absolute; top:-20px; left:-24px;}
.sp-header .box-header img.i-bottom { position:absolute; bottom:-20px; right:-24px;}
.sp-header .box-header .sp-text-title { font-family: 'webfont1'; font-size:40px; line-height:40px; color:#ee2d24; font-weight:normal; letter-spacing:1px; margin-bottom:10px;}
.sp-header .box-header h1 {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666; letter-spacing:1px; margin-bottom:10px; text-transform:uppercase;}


.sec1 { padding:40px 0; border-bottom:1px solid #ddd; margin:0 auto; width:80%; margin-bottom:40px;}
.sec1.a { padding-top:0;}
.sec1.a.b { border-bottom:none;margin-bottom:0;}
.sec1 .sp-row {display: flex;flex-wrap: wrap; text-align:center;}
.sec1 .sp-row.a {justify-content:center;}
.sec1 .sp-row .col-a { width:33.33%;}
.sec1 .sp-row .col-a a img { max-width:100%;}




@media screen and (max-width:1440px) {

}

@media screen and (max-width:1366px) {

}

@media screen and (max-width:1280px) {

}

@media screen and (max-width:1024px) {
.sp-header .box-header {
    width: 60%;
}
}

@media screen and (max-width:768px) {
.sec1 {
    width: 90%;
}
}

@media screen and (max-width:737px) {

}

@media screen and (max-width:560px) {
.sp-header .box-header {
    width: 80%;
}
.sec1 .sp-row .col-a {
    width: 70%;
	margin:0 auto;
}
}

@media screen and (max-width:414px) {

}

@media screen and (max-width:375px) {
 
}
