img.a { max-width:100%;}
.sp-container-content { width:60%; margin:0 auto;}
.sp-container-content01 { width:90%; margin:0 auto;}


.sp-header {text-align:center; padding:60px 0;}
.sp-header h1 {font-family: 'webfont1'; font-size:40px; line-height:60px; color:#ee2d24; font-weight:normal; letter-spacing:1px; margin-bottom:10px; margin-top:20px;}
.sp-header p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666; margin-bottom:20px;}
.sp-header .sp-title { position:relative; text-align:center; margin-bottom:30px;}
.sp-header .sp-title h2 {font-family: 'webfont1'; font-size:24px; line-height:24px; color:#000; font-weight:normal; letter-spacing:1px; margin-bottom:10px; margin-top:10px; display:inline-block; padding:0 10px; background:#fff;}
.sp-header .sp-title .sp-solid { width:50%; border-bottom:1px solid #ee2d24; margin:0 auto; margin-top:-22px;}


.sec1 { text-align:left; margin-bottom:60px;}
.sec1 .box-container { width:90%; margin:0 auto; position:relative;}
.sec1 .box-container .box-text { width: 30%; background: linear-gradient( rgba(255, 0, 0, 0.55),  rgba(255, 0, 0, 0.55)); position:absolute; right:60px; top:0; padding:20px;}
.sec1 .box-container .box-text h2 { font-family: 'webfont1'; font-size:24px; line-height:34px; color:#fff; font-weight:normal; letter-spacing:1px; margin-bottom:10px;}
.sec1 .box-container .box-text p {font-family: 'webfont2'; font-size: 16px; line-height: 24px; color: #fff; margin-bottom:10px;}
.sec1 .box-container .box-text ul { padding-left:40px;}
.sec1 .box-container .box-text ul li { font-family: 'webfont2'; font-size: 16px; line-height: 18px; color: #fff; margin-bottom:10px;}
.sec1 .box-container .box-button { width:40%; position:absolute; left:0; bottom:-20px; text-align:left;}
.sec1 .box-container .box-button p {font-family: 'webfont2'; font-size: 16px; line-height: 24px; color: #fff; margin-bottom:10px; padding-left:20px;}
.sec1 .box-container .box-button button {
    border: none;
    background:#ee2d24;
    font-family: 'webfont2';
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    cursor: pointer;
    padding: 15px 40px;
    font-weight: normal;
    letter-spacing: 1px;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}


.sec2 { text-align:left; margin-bottom:60px;}
.sec2 .box-container { width:90%; margin:0 auto; position:relative;}
.sec2 .box-container .box-text { width: 30%; background: linear-gradient( rgba(255, 0, 0, 0.55),  rgba(255, 0, 0, 0.55)); position:absolute; left:60px; top:0; padding:20px;}
.sec2 .box-container .box-text h2 { font-family: 'webfont1'; font-size:24px; line-height:34px; color:#fff; font-weight:normal; letter-spacing:1px; margin-bottom:10px;}
.sec2 .box-container .box-text p {font-family: 'webfont2'; font-size: 16px; line-height: 24px; color: #fff; margin-bottom:10px;}
.sec2 .box-container .box-text .sp-row { display: flex;flex-wrap: wrap;}
.sec2 .box-container .box-text .sp-row ul { padding-left:40px; width:50%;}
.sec2 .box-container .box-text .sp-row ul.a { width:100%;}
.sec2 .box-container .box-text .sp-row ul li { font-family: 'webfont2'; font-size: 16px; line-height: 18px; color: #fff; margin-bottom:10px;}
.sec2 .box-container .box-button { position:absolute; right:0; bottom:-20px; text-align:right;}
.sec2 .box-container .box-button p {font-family: 'webfont2'; font-size: 16px; line-height: 24px; color: #fff; margin-bottom:10px; padding-right:20px;}
.sec2 .box-container .box-button button {
    border: none;
    background:#ee2d24;
    font-family: 'webfont2';
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    cursor: pointer;
    padding: 15px 40px;
    font-weight: normal;
    letter-spacing: 1px;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}


.sp-h2 {font-family: 'webfont1'; font-size: 40px;  line-height: 50px;  color: #ee2d24;  font-weight: normal; letter-spacing: 1px; margin-bottom: 60px; margin-top:40px; text-align:center;}


.sp-box-title { text-align:left; font-family: 'webfont1'; font-size: 48px; line-height:56px; color:#666; margin-bottom:40px;}
.sp-box-title span.a {font-size:76px; color:#ee2d24;}


.sec3 { margin-top:80px;}
.sec3 .box-container {width:90%; margin:0 auto;  display: flex;flex-wrap: wrap;  align-items: center;}
.sec3 .box-container .col-l { width:50%; padding-left: 40px;}
.sec3 .box-container .col-l ul { margin:0; padding:0; list-style:none; padding-right:40px;}
.sec3 .box-container .col-l ul li { border-bottom:1px solid #ddd; padding-bottom:20px; margin-bottom:20px;}
.sec3 .box-container .col-l ul li .sp-row {display: flex;flex-wrap: wrap; align-items: center;}
.sec3 .box-container .col-l ul li .sp-row .col-a {width:10%;font-family: 'webfont1'; font-size:80px; line-height:80px; color:#ee2d24; font-weight:normal; text-align:center;}
.sec3 .box-container .col-l ul li .sp-row .col-b {width:90%; padding-left:20px; font-family: 'webfont1'; font-size:20px; line-height:26px; color:#000; font-weight:normal; letter-spacing:1px;}
.sec3 .box-container .col-l ul li .sp-row .col-b p {font-family: 'webfont2'; font-size: 16px; line-height: 24px; color:#666;}


.sec4 { margin-top:60px; margin-bottom:60px;}
.sec4 .sp-row {display: flex;flex-wrap: wrap;}
.sec4 .sp-row .col { width:33.33%; position:relative;}
.sec4 .sp-row .col .box-button { position:absolute; bottom:-20px; text-align:center; width:100%;}
.sec4 .sp-row .col .box-button p {font-family: 'webfont2'; font-size: 16px; line-height: 24px; color: #fff; margin-bottom:10px; padding-right:20px;}
.sec4 .sp-row .col .box-button button {
    border: none;
    background:#ee2d24;
    font-family: 'webfont2';
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    cursor: pointer;
    padding: 15px 40px;
    font-weight: normal;
    letter-spacing: 1px;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}
.sec4 .sp-row .col img { width:100% !important;}


.sec5 {text-align:center; padding:60px 0; padding-bottom:0;}
.sec5 h2 {font-family: 'webfont1'; font-size:40px; line-height:60px; color:#000; font-weight:normal; letter-spacing:1px; margin-bottom:10px; margin-top:20px;}
.sec5 p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666; margin-bottom:20px;}


.sec-our-service1 { background:#fff;}
.sec-our-service1 .sp-row {display: flex;flex-wrap: wrap;}
.sec-our-service1 .sp-row .col-a { width:50%;}
.sec-our-service1 .sp-row .col-a .box-content { margin-right:40px; margin-top:12%;}
.sec-our-service1 .sp-row .col-a .box-content h3 { font-family: 'webfont3'; font-size:22px; line-height:30px; color:#000; font-weight:normal; letter-spacing:1px; margin-bottom:20px;}
.sec-our-service1 .sp-row .col-a .box-content h3 img { max-width:100%; margin-bottom:10px;}
.sec-our-service1 .sp-row .col-a .box-content p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666; margin-bottom:20px;}
.sec-our-service1 .sp-row .col-b { width:50%;}
.sec-our-service1 .sp-row .col-b img { max-width:100%;}


.sec-our-service2 { background:#fff; margin-top:0px;}
.sec-our-service2 .sp-row {display: flex;flex-wrap: wrap;}
.sec-our-service2 .sp-row .col-a { width:50%;}
.sec-our-service2 .sp-row .col-a img { max-width:100%;}
.sec-our-service2 .sp-row .col-b { width:50%;}
.sec-our-service2 .sp-row .col-b .box-content { margin-left:40px; margin-top:15%;}
.sec-our-service2 .sp-row .col-b .box-content h3 { font-family: 'webfont3'; font-size:22px; line-height:30px; color:#000; font-weight:normal; letter-spacing:1px; margin-bottom:20px;}
.sec-our-service2 .sp-row .col-b .box-content p {font-family: 'webfont2'; font-size: 16px; line-height: 28px; color: #666; margin-bottom:20px;}



@media screen and (max-width:1440px) {
.sp-container-content { width: 70%;}
}

@media screen and (max-width:1366px) {
.sec1 .box-container .box-text { width: 45%;}
.sec2 .box-container .box-text { width: 45%;}
}

@media screen and (max-width:1280px) {
.sec-our-service1 .sp-row .col-a .box-content { margin-top: 0%;}
}

@media screen and (max-width:1024px) {
.sec1 .box-container .box-text { width:100%; right:0; background:#ee2d24; position:relative;}
.sec1 .box-container .box-button { width: 40%;}

.sec2 .box-container .box-text { width:100%; left:0; background:#ee2d24; position:relative;}
.sec2 .box-container .box-button { width: 40%;}

.sec-our-service2 .sp-row .col-b .box-content { margin-top: 0%;}
}

@media screen and (max-width:768px) {
.sp-container-content { width: 90%;}
.sec1 .box-container .box-button { width: 55%;}
.sec2 .box-container .box-button { width: 55%;}
.sec-our-service1 .sp-row .col-a { width: 100%;order:2;}
.sec-our-service1 .sp-row .col-a .box-content { margin-right: 0px;}
.sec-our-service1 .sp-row .col-b { width: 100%; order:1; margin-bottom:20px;}
.sec-our-service1 .sp-row .col-a .box-content h3 { font-size: 20px;}
.sec-our-service1 .sp-row { margin-bottom: 40px;}

.sp-h2 {margin-bottom: 40px;}

.sec-our-service2 .sp-row .col-a { width: 100%;margin-bottom:20px; }
.sec-our-service2 .sp-row .col-b { width: 100%; }
.sec-our-service2 .sp-row .col-b .box-content { margin-left: 0;}
.sec4 .sp-row .col .box-button p {  font-size: 13px;  line-height: 18px; padding-right: 0;}
.sec5 { padding-top:20px;}

}

@media screen and (max-width:737px) {

}

@media screen and (max-width:560px) {
.sp-header { padding: 20px 0;}
.sp-header h1 {  font-size: 34px;  line-height: 42px;}
.sec1 .box-container .box-button { width: 100%;}
.sec2 .box-container .box-button { width: 100%;}
.sec2 .box-container .box-text .sp-row ul {
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.sec5 h2 { font-size: 34px;}
.sec4 .sp-row .col { width: 100%;}
.sec4 .sp-row .col .box-button { bottom: 60px;}
.sec4 { margin-top: 40px; margin-bottom: 40px;}
.sec5 h2 { margin-top: 0px;}

.sec2 .box-container .box-text p { margin-bottom: 20px;}

}

@media screen and (max-width:414px) {

}

@media screen and (max-width:375px) {
 
}
