.box-menu-top ul li {
  display: flex;
  align-items: center; }
  .box-menu-top ul li.isSearch {
    padding-right: 0;
    border-right: 0; }

.searchExpand, .searchExpand-input input {
  font-family: "webfont2";
  font-size: 14px;
  line-height: 14px;
  color: #666;
  font-weight: normal; }

.searchExpand:hover .searchExpand-input input, .searchExpand-input input:focus {
  width: 270px;
  opacity: 1;
  padding: 5px 50px 5px 10px; }

.searchExpand:hover .searchExpand-button {
  pointer-events: auto; }

.searchExpandInner {
  position: relative; }

.searchExpand-input input {
  display: block;
  border: 0;
  padding: 5px 22px;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
  transition-delay: 0s; }
  .searchExpand-input input:focus {
    outline: none; }

.searchExpand-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 0;
  background-color: transparent;
  font-size: 16px;
  color: #ee2d24;
  padding: 5px 15px;
  border-radius: 10px;
  pointer-events: none; }
  .searchExpand-button:focus {
    outline: none; }
