img.a { max-width:100%;}

.spTextNumber {font-family: 'webfont1'; font-size:220px; line-height:220px; color:#ee2d24; font-weight:normal;}
.spTextNumber.White { color:#FFF;}

.spTextTitle {font-family: 'webfont1'; font-size:28px; line-height:32px; color:#ee2d24; font-weight:normal;}
.spTextTitle.Title2 {font-family: 'webfont1';font-size:38px; line-height:40px;}
.spTextTitle.White { color:#FFF;}

.spTextName {font-family: 'webfont2'; font-size:20px; line-height:28px; color:#fff; font-weight:normal;}

.spTextBody { font-family: 'webfont2'; font-size: 16px; line-height: 28px; color:#666;}
.spTextBody.White { color:#fff;}
.spTextBody.marginTop { margin-top:27px;}

.spSecOne { position:relative; padding:100px 0;}
.spSecOne .spRow {position:relative;}
.spSecOne .spRow .spColText { width:75%; background:#ee2d24; padding:60px 0;}
.spSecOne .spRow .spColText .boxTextContent { margin-left:17%; width:55%;display: flex;align-items:center;}
.spSecOne .spRow .spColPic { position:absolute; right:10%; top:-100px;}

.spSecTwo { position:relative; padding:50px 0;}
.spSecTwo .spRow {position:relative;}
.spSecTwo .spRow .spColText { width:100%; background:#fff; padding:60px 0;}
.spSecTwo .spRow .spColText .boxTextContent { margin-left:53%; width:38%;display: flex;align-items:center;}
.spSecTwo .spRow .spColText .boxTextContent .spTextContent { padding-left:20px;}
.spSecTwo .spRow .spColPic { position:absolute; left:7%; top:-50px;}

.spSecThree { position:relative; padding:50px 0; padding-bottom:200px;}
.spSecThree .spRow {position:relative;display: flex;justify-content:flex-end;}
.spSecThree .spRow .spColText { width:87%; background:#ee2d24; padding:60px 0;}
.spSecThree .spRow .spColText .boxTextContent { margin-left:2%; width:38%;display: flex;align-items:center;}
.spSecThree .spRow .spColText .boxTextContent .spTextContent { padding-left:20px;}
.spSecThree .spRow .spColPic { position:absolute; right:7%; top:30px;}

.spSecFour {position:relative; padding-bottom:120px; border-bottom:2px solid #f2f2f2; margin-bottom:60px;}
.spSecFour .spBoxContent {margin-left:14%;}
.spSecFour .spBoxEf {position:absolute; right:7%;top:90px;}

.spSecFive { width:72%; margin:0 auto;position:relative;display: flex;justify-content:space-between;}
.spSecFive .spBoxContent { width:33.33%; padding-right:20px}
.spSecFive .spBoxContent.a { width:25%;}
.spSecFive .spBoxContent.b { width:35%;}
.spSecFive .spBoxContent.c { width:40%;}
.spSecFive .spBoxEf {position:absolute; left:7%; bottom:0px;}

.spSecSix {padding:180px 0; padding-bottom:0;padding-bottom:80px; border-bottom:2px solid #f2f2f2; margin-bottom:60px; position:relative;}
.spSecSix.a {border-bottom:none; margin-bottom:0px;}
.spSecSix .spRow {display: flex;align-items:flex-end;}
.spSecSix .spRow .spColText { width:100%;}
.spSecSix .spRow .spColText .spBoxContent { margin-left:40px;}
.spSecSix .spRow .spColPic {width:58%; background:#ee2d24; text-align:center;height:260px; position:relative;}
.spSecSix .spRow .spColPic img {  position:relative; top:-120px; left: -100px;}
.spSecSix .spRow .spColPic .boxTextContent { text-align:right; position: absolute; bottom:60px; right:60px;}
.spSecSix .spBoxEf {position:absolute; right:7%;bottom:40px;}

.spColText-2 {
    display: none;
}
.spColText-1 {
    margin-left: 3%;
}
.spBoxEfV2 {
    position: absolute;
    right: 0;
    margin-top: 5%;  
}
.spBoximgv2 {
    display: none;
}
.spBoximgv2 {
    position: relative;
}
.spSecFour-2 {
    position: relative;
    padding-bottom: 80px;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 60px;
}

ul.spListContent {margin:20px; padding:0;}
ul.spListContent li {
    margin-left: 30px;
}


.sp-j-box {
  display: flex;
  position: relative;
  margin-left:5px;
}
.sp-j-line {
  border-left: 3px solid #ee2d24;
  height:187px;
  margin-right: 19px;
}
.sp-j-line.a {
  height: 90px;
}
.sp-j-line-2 {
  height: 19px;
  width: 19px;
  background-color: #0079ae;
  position: absolute;
  top: 31px;
  left: -8px;
  border: 4px solid white;
}
.spTextName2-1,.spTextName2-2 {
  display:none; 
  font-family: 'webfont2';
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: normal;
}



@media screen and (max-width:1680px) {
.spSecSix .spRow .spColPic .boxTextContent {
    bottom: 18px;
    right: 22px;
}
.spSecOne .spRow .spColText .boxTextContent {
    margin-left: 9%;
}
.spSecThree .spRow .spColText {
    width: 94%;
}
.spSecFour .spBoxContent {
    margin-left: 8%;
}
.spSecFive {
    width: 84%;
}
}

@media screen and (max-width:1440px) {
.spSecTwo .spRow .spColText .boxTextContent {
    margin-left: 57%;
    width: 36%;
}
.spSecSix .spRow .spColPic img.Liquid { max-width:63%;top:-50px;}
.spTextName { font-size: 16px;}

.spSecSix.a {
    padding-top: 115px;
}
.spSecSix .spBoxEf img {max-width:60%;}
.spSecSix .spRow .spColPic img {
    top: -69px;
    max-width: 70%;
}
.spSecOne {
    padding: 60px 0;
}
.spSecOne .spRow .spColPic {
    right: 0;
    top: -47px;
}
.spSecOne .spRow .spColPic img {
    max-width: 80%;
}
.spSecTwo .spRow .spColPic {
    top: -20px;
}
.spSecTwo .spRow .spColPic img {
    max-width: 80%;
}
.spSecThree {
    padding-bottom: 86px;
}
.spSecThree .spRow .spColPic {
    right: 0%;
}
.spSecThree .spRow .spColPic img {
    max-width: 80%;
}

.spSecFour .spBoxEf img {
    max-width: 70%;
}
.spSecFive .spBoxEf img{
    max-width: 70%;
}
.spSecSix {
    padding-top: 120px;
}

}

@media screen and (max-width:1366px) {

}

@media screen and (max-width:1280px) {
    .j-SecTwo-3 .j-spRow-3 .j-spColText-3 .j-boxTextContent-3 {
        padding: 10px 0px;
    }

}

@media screen and (max-width:1024px) {
    .spSecFour {
        padding-bottom: 83px;
    }
    
.spSecOne .spRow .spColText {
    width: 80%;
	padding: 30px 0;
}
.spSecOne .spRow .spColText .boxTextContent {
    margin-left: 20px;width: 70%;
}
.spSecOne .spRow .spColPic {
    right: 20px;
    text-align: right;
}
.spSecTwo .spRow .spColPic {
    left: 20px;
}
.spSecTwo .spRow .spColPic img {
    max-width: 60%;
}
.spSecTwo .spRow .spColText .boxTextContent {
    margin-left: 50%;
    width: 50%;
    padding-right: 20px;
}
.spSecTwo .spRow .spColPic {
    top: 16px;
}
.spSecTwo .spRow .spColText {
    padding: 30px 0;
}
.spSecThree .spRow .spColPic img {
    max-width: 66%;
}
.spSecThree .spRow .spColPic {
    right: 20px;
    text-align: right;
}
.spSecThree .spRow .spColText {
    width: 87%;
    padding: 30px 0;
}
.spSecThree .spRow .spColText .boxTextContent {
    margin-left: 20px;
    width: 53%;
}
.spSecThree .spRow .spColText {
    width: 98%;
}
.spSecFour .spBoxContent {
    margin-left: 40px;
}
.spSecFive {
    width: 100%;
    padding: 0 40px;
}
.spSecSix .spRow .spColPic {
    height: 174px;
}
.spSecFive .spBoxContent.c { padding-right:0;}
.spTextName span { display:block;}
.spSecSix .spRow .spColPic img {
    left: -9%;
}
.spSecSix .spRow .spColPic .boxTextContent {
    padding-left: 77%;
}


.spSecFive {
    display: inline-block;
    position:relative;
  }
  .spSecFour .spBoxEf {
    right: 0%;
  }
  .spSecFive .spBoxContent.a {
    width: 100%;
    margin-bottom: 10%;
}
.spSecFive .spBoxContent.b {
    width: 100%;
    margin-bottom: 10%;
}
.spSecFive .spBoxContent.c {
    width: 100%;
    margin-bottom: 10%;
}
}

@media screen and (max-width:768px) {
   
    .spSecSix .spRow .spColPic img {
        left: -0%;
    }
    .spSecSix .spRow .spColPic .boxTextContent {
        padding-left: 0%;
    }
    .spColPic {
        padding-bottom: 50%;
     }
.spSecOne .spRow .spColText {
    width: 100%;
	padding-top:120px;
	height: 512px;
}
.spTextName2-1,.spTextName2-2 {
  display:inline-block; 

}


.spTextTitle{
    font-size: 22px;
  }
  .spTextTitle.Title2 {
    font-size: 28px;
  }

.spSecOne .spRow .spColText .boxTextContent {
    margin-left: 0px;
    width: 100%;
	padding: 0 20px;
	justify-content:center;
	flex-wrap:wrap;
	position:relative;
}
.spTextNumber.White.a { position:absolute; top:-200px; right:6px; }
.spSecOne .spRow .spColPic {
    text-align: center;
	position:relative;
    top: 20px;
    
    
}
.spSecOne {
	padding-top:40px;
    padding-bottom:300px;
}


.spSecSix .spRow .spColPic {
    width: 100%;
}
.spSecSix {
    padding-bottom: 0px;
    margin-top: 10%;
}
.picSix {
    
    width: 100%;
    margin-top: -15%;
}
.spColText-1 {
    display: none;
}
.spColText-2 {
    display: inline-block;
    
    margin-top: 10%;
}
.sF2 {
    border-bottom: none;
    padding-bottom: 0px;
}
.spSecSix .spRow .spColPic .boxTextContent{
    right: 43%;
}
.spBoxEf {
    display: none;
}
.sPr-3 {
    margin-top: -20%;
}
.spSecSix .spRow .spColPic {
    height: 230px;
}
.spSecSix .spRow .spColPic .boxTextContent {
    text-align: center;
}
.spTextName {
    display: none;
} 
.spSecTwo .spRow .spColText .boxTextContent {
    display: inline-block;
    margin-left: 10%;
  }
  .spSecTwo .spRow .spColPic {
     position: absolute;
     top: 100%;
     
  }
  
 .spSecSix .spRow .spColPic img{
    max-width: 80%;
 }
 .spSecFive {
    padding: 0 18px;
 }
.spSecFour .spBoxContent {
    margin-left: 18px; 
 }
 .spTextNumber.White.a {
   
    top: -149px;
}
ul.spListContent {
    margin-left: 9px;
}
}

@media screen and (max-width:737px) {
    
 .spTextTitle {
    margin-top: 50px; 
 }
 .spTextNumber.White.a { position:absolute; top:-30px; right:-48px; }

 

}

@media screen and (max-width:560px) {
    .picSix {
        margin-top: -10%;
    }
    .sPr-3{
        margin-top: -10%;
    }
    .spSecSix .spRow .spColPic .boxTextContent {
        right: 35%;
    }
}

@media screen and (max-width:414px) {
    .j-SecTwo{
        padding-top: 0px;
    }
    .j-spTextNumber {
        margin-bottom: 4%;
    }
    .spSecSix .spRow .spColPic {
        height: 100px;
    }
    .picSix {
          margin-top: -5%;
    }
    .spSecSix .spRow .spColPic .boxTextContent {
          right: 36%;
    }
    .spSecSix .spRow .spColPic {
        height: 150px;
    }
    .spSecSix .spRow .spColPic .boxTextContent {
        right: 20%;
    }
    .spSecOne .spRow .spColText {
        padding-top: 0%;
    }
    .spSecOne .spRow .spColText .boxTextContent {
        width: 85%;
    }
    
    .spSecOne .spRow .spColPic {
        right: -36px;
    }
    .spSecOne {
        padding-bottom: 220px;
    }
    .j-sc-8-detail {
        margin-top: 10% ;
    }
    .j-sc-8-num {
        bottom: 2%;
    }
    .j-sc-8-text {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
    }
    .spSecFour {
        padding-bottom:56px;
        margin-bottom: 3px;
    }
    .spSecSix {
        margin-bottom: 5px;
    }
    .spSecSix .spRow .spColPic img {
        top: -40px;
        left: 0%;
        
      }
      .picSix {
          margin-top: -10%;
      }
  
    

}

@media screen and (max-width:375px) {
    .spSecOne .spRow .spColText {
        padding-top: 25px;
    }
    .spTextNumber.White.a {
        top: -55px;
    }
    .j-sc-8-detail {
        margin-right: 22%
    }
    .spSecOne {
        padding-bottom:221px;
    }
    .j-sc-8-num {
        bottom: -3%;
    }
    .j-sc-8-text {
        padding-right:40px;
    }
    .j-sc-8-item {
        margin-bottom: 30px;
    }
    .spSecFour {
        padding-bottom:61px;
        margin-bottom: 3px;
    }
    .spSecSix {
        margin-bottom: 5px;
    }
    .picSix {
        margin-top: -45px;
    }
    
      .j-SecTwo-3 .j-spRow-3 .j-spColText-3 .j-boxTextContent-3 .j-spTextContent-3 {
          padding-left: 0px;
      }
   
}

